
PyTorch-YOLOv3/.DS_Store
PyTorch-YOLOv3/build
PyTorch-YOLOv3/.git
PyTorch-YOLOv3/*.egg-info
PyTorch-YOLOv3/dist
PyTorch-YOLOv3/output
PyTorch-YOLOv3/data/coco
PyTorch-YOLOv3/backup
PyTorch-YOLOv3/weights/*.weights
PyTorch-YOLOv3/__pycache__
PyTorch-YOLOv3/checkpoints
